{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-3">
   <div class="border-rectangle-button">
      <a href="{% url 'card-list' %}"></i>Go back to list of menu cards</a>
   </div>
  </div>
  {% if user.is_authenticated %}
  <div class="col-md-2">
   <div class="border-rectangle-button">
      <a href="{% url 'card-edit' object.id %}"></i>Edit this menu</a>
   </div>
  </div>
  <div class="col-md-2">
   <div class="filled-rectangle-button">
      <a href="{% url 'card-delete' object.id %}"></i>Delete this menu</a>
   </div>
  </div>
  {% endif %}
 </div>
</div>
<h3>{{object.name}}</h3>
<h4>{{object.description}}</h4>
creation date: {{object.creation_date}}<br>
date of the last change: {{object.last_change_date}}

<div class="default-table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Preparation time</th>
        <th>Vegetarian</th>
        <th>Creation date</th>
        <th>Date of last change</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object.dishes.all %}
      <tr>
	<td>{{obj.name}}</td>
	<td>{{obj.description}}</td>
	<td>{{obj.price}}</td>
	<td>{{obj.preparation_time}}</td>
	<td>{{obj.is_vegetarian|yesno:"yes, no"}}</td>
        <td>{{obj.creation_date}}</td>
        <td>{{obj.last_change_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
