<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>{% block title %}eMenu{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
		<a href="{% url 'home' %}">eMenu</a>
              </div>
            </header>
	   
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

	    {% block content %}{% endblock %}

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
		{% if user.is_authenticated %}
		  <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
		{% else %}
		  <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
		{% endif %}
                <li>
                  <span class="opener">Menu cards</span>
                  <ul>
		    <li><a href="{% url 'card-list' %}">List of menu cards</a></li>
		    {% if user.is_authenticated %}<li><a href="{% url 'card-create' %}">Craete new menu card</a></li>{% endif %}
                  </ul>
                </li>
		{% if user.is_authenticated %}
                <li>
                  <span class="opener">Dishes</span>
                  <ul>
		    <li><a href="{% url 'dish-list' %}">List of dishes</a></li>
		    <li><a href="{% url 'dish-create' %}">Create new dish</a></li>
                  </ul>
                </li>
		{% endif %}
              </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2019 Company Name
              <br>Template designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
            </footer>

          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/transition.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


  </body>

</html>
