{% extends "base.html" %}
{% load static %}
{% load rest_framework %}
{% block content %}

    <div style='inline'>
      <div class="col-md-3">
      {% if user.is_authenticated %}
        <div class="border-rectangle-button">
		<a href="{% url 'card-ui-create' %}?next={{request.path}}"></i>Create new menu card</a>
        </div>
      {% endif %}
      <div class="col-md-3">
        <button data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
          Filters
        </button>
        {{filter_form}}
      </div>
      </div>
    </div>



    <div class="default-table">
      <table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Dishes</th>
	    <th>Creation date</th>
	    <th>Date of last change</th>
	  </tr>
	</thead>
	<tbody>
	  {% for obj in object_list %}
	  <tr>
            <td><a href="{% url 'card-ui-detail' obj.id %}">{{obj.name}}</a></td>
	    <td>
	      {% for dish in obj.dishes %}
	         <a href="{% url 'dish-ui-detail' dish.id %}">{{dish.name}}</a>{% if not forloop.last %}<br>{% endif %}
	       {% empty %}
	         --no dishes in the menu--
	      {% endfor %}
	    </td>
	    <td>{{obj.creation_date}}</td>
	    <td>{{obj.last_change_date}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
{% endblock %}
