{% extends "base.html" %}
{% block content %}
     <form action="{% url 'card-list' %}" method="get">
    {{form}}
    <button type="submit">Filter</button>
    </form>
    <div class="default-table">
      <table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Dishes</th>
	    <th>Creation date</th>
	    <th>Date of last change</th>
	  </tr>
	</thead>
	<tbody>
	  {% for obj in object_list %}
	  <tr>
            <td><a href="{% url 'card-detail' obj.id %}">{{obj.name}}</a></td>
	    <td>
	     {% for dish in obj.dishes.all %}
	      {{dish.name}}{% if not forloop.last %}<br>{% endif %}
	      {% empty %}
	       --no dishes in the menu--
	       {% endfor %}
	    </td>
	    <td>{{obj.creation_date}}</td>
	    <td>{{obj.last_change_date}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
{% endblock %}
